body {
            font-family: Arial, sans-serif;
             background-image: url('i1.jpg'); 
            background-size: cover;
            
            
 
        }
        .bg{
            background-color:#ffffff;
            border-radius: 5px;
            display: flex;
            
        
    
        }

        .right {
            margin-left: auto;
            display: flex;
            
            
        }

        .right a {
            
            text-decoration: none;
            color : black;
        }


         .controlpanel h4{
            color:#ffffff;
            font-size: 40px;
            font-family: Arial, sans-serif;
            width: fit-content;
            border-radius: 5px;
            text-decoration: underline #2196F3 ;
            background-color: black;
            padding:5px;
            margin: 10px 0 5px 10px;
             

        }
        h5{
            margin:20px;
            padding:10px;
            font-size: 15px;
        
        }
        
        h1{
            color : black;
            text-align: center;
            margin-top:100px;
            text-decoration:underline #2196F3 ;
            font-size:40px;
            
        }
        h2{
            color : black;
            text-align: center;
            margin-top:10px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            color : black;
        }

        label {
            color : black;
        }
        input[type="text"], input[type="email"], input[type="password"], input[type="text"], input[type="date"], input[type="text"]{
            margin-bottom: 5px;
            padding: 5px;
            width: 250px;
            background-color: rgb(229, 229, 219);
            opacity:0.5;
            border-radius: 5px;
            
            
        }


        select{
            margin-bottom: 5px;
            padding: 5px;
            width: fit-content;
            background-color: rgb(196,196,187);
            opacity:0.5;
            border-radius: 5px;


        }

        .button[type="submit"] {
            background-color: #2196F3;
            color: #ffffff;
            padding: 5px 5px;
            width: 150px;
            font-family : arial;
            border-radius: 5px;
            display: flex;
            justify-content: center;
        }

        .content {
            background-color: rgba(255,255,255,0.5);
            max-width : 400px;
            max-height: 700px;
            width : 100%;
            box-shadow: 0px 5px 10px rgba(0,0,0.1);
            border-radius: 25px;
            padding : 25px;
        }

        .container{
            height : 100vh;
            display: flex;
            align-items : center;
            justify-content: center;
            
           
        }

       .login_form {

        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; 
       }

       .login_form_content {

        background-color: rgba(225,255,255,0.5);
        max-width : 370px;
        width : 100%;
        max-height : 100vh;
        border-radius : 24px;
        padding : 25px;
        box-shadow : 0px 5px 10px;

       }

       

        
        